.des{
margin-top:10px;
}
.addbtn{
margin-top:1px;
}
.newbox{
margin-top:0px
}
.sign{
margin-left:50px;
margin-top:20px
}
.newitem{
margin-top:10px;
}
.pricebtn{
margin-top:20px;
}

@media screen and (max-width:950px){
.des{

}
.amt{
margin-left:52px;
width:auto;
}
.addbtn{
margin
}
}